<!--  sign-up!   -->

<h2>Sign-up!</h2>

<form action="<%= users_url %>" method="POST">
	<input id="email" type="text" name="user[email]">
  <label for="email">Email</label>
	<input id="password" type="password" name="user[password]" id="">
  <label for="password">Password</label>
	<button>Submit</button>
</form>